.container{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    align-items: end;
    
}

.top_btn {
    display: flex;
    gap: 32px;

}

.contact_form {
    display: flex;
    flex-direction: column;
    gap: 24px;
   

}

.contact_form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;

}
.form_controller {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

}
.form_controller input {
    height: 30px;
    padding: 0 8px;
}
.form_controller label {
position: absolute;
font-size: 14px;
top: -12px;
left: 10px;
background-color: white;
padding: 0 10px;
}
